<h1>HEllo Home</h1>

<a href = "/newproduct">newproduct</a>
<form  action = "{{ url_for('sendemail') }}"  method="POST">
<table border = 1>
         <thead>
            <td>Name</td>
            <td>Content</td>
            <td>price</td>
            <td>weight</td>
            <td>Interested</td>
         </thead>  
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["content"]}}</td>
               <td> {{ row["price"]}}</td>
               <td>{{row['weight']}}</td>
               <td><input type="checkbox" name="checkboxes" value="{{row['name']}}"></td>
            </tr>
         {% endfor %}
</table>
<input name="text">
<input type="submit" value="Send Email">
</form>

<form  action = "{{ url_for('list') }}"  method="POST">
    <input name="text" value={{pro}}>
    <input type="submit">
</form>




